<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= text.title %></title>
  <link rel="icon" href="/images/makisekurisu.png">
  <link rel="stylesheet" href="/css/write.css">
</head>
<body>
  <div id="grid">
    <%- include('nav.ejs') %>
    <div id="textbox">
      <div id="list_head">
        <a href="/list/1" style="color: goldenrod;">자유게시판</a>
        <a style="color: goldenrod;">서브컬쳐 게시판(제작중)</a>
        <a href="/write" style="color: goldenrod;">글쓰기</a>
      </div>
      <div>
        <h3><%= text.title %></h3>
      </div>
      <div>
        <%= text.content %>
      </div>
      <hr>
      <div>
        <form action="/comment" method="POST">
          <input name="text_id" value="<%= text._id %>" style="display: none;">
          <input name="comment" type="text" autocomplete="off">
          <button type="submit">입력</button>
        </form>
      </div>
      <div class="comment">
        <% for (let i=0; i<comment.length; i++) { %>
          <div>
            <%= comment[i].nickname %> : <%= comment[i].comment %>
          </div>
        <% } %>
      </div>
    </div>
  </div>
  
  <script src="/js/timer.js"></script>

</body>
</html>